@charset "utf-8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}

/*------------- navigaton bar-------------*/




*{
	
	margin: 0;
	padding: 0;
}




.navbar-nav .nav-item .navlink{
    float: right;
}

nav{
	height: 60px;
    
}


#nav-bar{
	
	position: sticky;
	top: 0;
	z-index: 10;
   
}



.navbar-nav li {
	padding-right: 20px;
    padding-left: 20px;
    
	
}

.navbar-brand img{

    
}

.image3{
    height: 60px;
    width: 60px;
    
}

.navbar-nav li a {
    
    display:block;
    position: relative;   
	float: right;
	text-align: left;
   overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s all; 
   color: #555;
    
    
}

     #nav-bar ul li a:before{
    color: #555;
    content: "";
    width: 50px;
    position:absolute;
    border-bottom: 8px solid;
    bottom: 0;
    right: 1200px;
    transition: 0.5s all;
}      

      #nav-bar ul li a:hover:before{
    right:0;

} 

  
#nav-bar .nav-item2:hover .sub-class{
    display: block;
    z-index: 1;
    
}


#nav-bar .nav-item:hover .sub-menu{
    display: block;
 
}

#nav-bar .nav-items:hover .menu-sub{
    display: block;
    z-index: 10;
    position: absolute;
   
}

#nav-bar ul li a:hover{
	border: 3px solid #007bff;
	color: #fff!important;
    border-color: #007bff;
    background: #007bff;

}


.navbar{
background: #f8f9fa;	
	
}


.sub-class li a{
    font-size: 16px;
    color: #555;
/*    font-weight: 1000;*/
    padding: 10px 10px;
    text-align: center;
    transition: 0.5s;
    z-index: 1;
    
}


.menu-sub li a{
    font-size: 16px;
    color: #555;
    /*font-weight: 1000;*/
    padding: 10px 10px;
    text-align: center;
    transition: 0.5s;
    z-index: 1;
    
}

.sub-menu li a {
    font-size: 16px;
    color: #555;
   /* font-weight: 1000;*/
    padding: 10px 10px;
    text-align: center;
    transition: 0.5s;
    
}

.sub-menu:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid black;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
    position: absolute;
   
    margin: -30px 0px 0px -20px;
}


.sub-class:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
   /*  border-left: 30px solid transparent;  */
     border-right: 30px solid black;
    position: absolute;
   margin-left: -105px;
   margin-top: 5px;
}

.menu-sub:before{
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
   /*  border-left: 30px solid transparent;  */
     border-right: 30px solid black;
    position: absolute;
   margin-left: -115px;
   margin-top: -5px;
}


.sub-class{
    text-decoration: none;
    list-style-type: none;
    display:none;
    position: absolute;
    border: 5px solid;
    margin-top: 40px;
    text-align: left;
    background: #f8f9fa;
    text-align: center;
    margin-left: 145px;
    z-index: 1;
}

.menu-sub{
    text-decoration: none;
    list-style-type: none;
    display:none;
    position: absolute;
    border: 5px solid;
    margin-top: 0px;
    text-align: left;
    background: #f8f9fa;
    text-align: center;
    margin-left: 140px;
    z-index: 1;
}
.sub-menu{
    text-decoration: none;
    list-style-type: none;
    display:none;
    position: absolute;
    border: 5px solid;
    margin-top: 60px;
    text-align: left;
    background: #f8f9fa;
    text-align: center;
    margin-left: -50px;
   
   
}

.nav-link{
	text-decoration: none;
    list-style-type: none;
	color: #f8f9fa;
	font-size: 20px;
	/*font-weight: 1000;*/

	
}
.nav-item1{
    list-style-type: none;
    text-decoration: none;
}


.nav-links{
    padding-top: 9px;
	text-decoration: none;
	color: #f8f9fa;
	font-size: 20px;
	/*font-weight: 1000;*/
	
	
}
.navbar-toggler-icon
{
    color: black;
}


.navbar-toggler{
	color: black;
	border: none!important;
    outline: none!importanr;
}/*
.navbar-nav{
    text-decoration: none;
    list-style-type: none;
}
.nav-item1 .nav-links{
    
    display:block;
    position: relative;   
	float: right;
	text-align: right;
    text-decoration: none;
list-style-type: none;
}*/
.nav-items .nav-links1{
    text-decoration: none;
list-style-type: none;
}

.nav-item2 .nav-link2{
     text-decoration: none;
list-style-type: none;
    float: left;
}

.sub-menu .nav-items{
   float: left;
}



nav .fa-bars{
    color: black;
    font-size: 20px;
}

.sub-menu3 .nav-items3 .nav-links3
{
    display: block;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
     float: left;
}


.sub-menu3 .nav-items3{
   float: left;
}


.sub-menu3:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 30px solid black;
     border-left: 20px solid transparent;
     border-right: 20px solid transparent;
    position: absolute;
   
    margin: -30px 0px 0px -20px;
}


#nav-bar .nav-item:hover .sub-menu3{
    display: block;
 
}


.sub-menu3{
    text-decoration: none;
    list-style-type: none;
    display:none;
    position: absolute;
    border: 5px solid;
    margin-top: 60px;
    text-align: left;
    background: #f8f9fa;
    text-align: center;
    margin-left: -20px;
 
   
}


.sub-menu3 li a {
    font-size: 16px;
    color: #555;
   /* font-weight: 1000;*/
    padding: 10px 10px;
  text-align: left;
    transition: 0.5s;
    float: left;
}




/*-------- slider ------*/
/*
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.slider1{
    overflow: hidden;
    height: 90vh;
}

.slider1 figure div{
    width: 20%;
    float: left;
}
.slider1 figure img{
    width: 100%;
    float: left;
}

.slider1 figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slidy infinite;
}
@keyframes slidy{
    0%{
        left:0;
    }
    10%{
        left:0;
    }
    12%{
        left:-100;
    }
    22%{
        left:-100;
    }
    24%{
        left:-200;
    }
    34%{
        left:-200;
    }
    36%{
        left:-300;
    }
    46%{
        left:-300;
    }
    48%{
        left:-400;
    }
    58%{
        left:-400;
    }
    60%{
        left:-300;
    }
    70%{
        left:-300;
    }
    72%{
        left:-200;
    }
    82%{
        left:-200;
    }
    84%{
        left:-100;
    }
    94%{
        left:-100;
    }
    96%{
        left:0;
    }
}

*/

/*------------cover page-----------*/

#cover {
    background-image: url(background7.jpg);
    height: 600px;
    color: #fff;
    text-align: center;
}





#cover .container h1{
    padding-top: 150px;
    font-family: fantasy;
    font-size: 100px;
    padding-bottom: 20px;
    transition: 0.2s;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7) ;
}





#cover .container p{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
    border-left-width: 50px ;
    border: 1px solid white;
    z-index: 1;
    transition: 0.2s;
     box-shadow: 0 0 15px 5px rgba(0,0,0,0.7) ;
}

#cover .container p:hover{
    
    background: white;
    color: black;
   
    transform: scale(1.3);
    
    
}
#cover .container a button{
    color: white;
    text-decoration: none;
    background: #28a745;
}

#cover .container a button{
    transition: 0.2s;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7) ;
}

#cover .container a button:hover{
    background: white;
   box-shadow: 0 0 15px 5px rgba(0,0,0,0.7) ;
    
}

#cover .container a button:hover{
    color: #555;
     box-shadow: 0 0 15px 5px rgba(0,0,0,0.7) ;
    
}















/*

#slider{
    width: 100%;
    
  
   
  
}



.carousel-caption{
	top: 50%;
	transform: translateY(0%);
	bottom: initial!important;
	background: transparent;
	background-color: rgba(0,0,0,0.5);
    
}

.carousel-caption h4{
	color: #fff;
	font-size: 30px;
	 font-family:fantasy;
    font-weight: 500;
   
   
}
.carousel-caption h5{
	color: #fff;
	font-size: 20px;
    font-family: fantasy;
    font-weight: 200;
}

*/


/*---------plans--------*/



#plans .container .name{
    padding-top: 60px;
    text-align: center;
    border-bottom: 5px solid black;
    font-size: 40px;
    font-weight: 1000px;
}

#plans .container .name h1{
    padding-top: 20px;
     font-size: 50px;
    font-weight: bolder;
font-family: fantasy;
}


#plans .image-box1 img{
    transition: 0.4s;
    display: inline;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border: 1px solid #fff;
   box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
}


#plans .col-md-2 .image-box1{
    padding-top: 80px;
padding-bottom:  80px;;
}

#plans h6{
    text-align: left;
    margin-top: -60px;
}

#plans .image-box1 img:hover{
    transform: scale(1.3);
     
}

#plans .image-box1 img:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
}

#plans .row ul li{
    text-align: left;
    list-style-type: none;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

#plans .button .btn{
    margin-left: -30px;
   font-size: 20px;
       background: #fff;
    color: black;
   padding-left: 30px;
    padding-right: 30px;
    transition: 0.8s;
   box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
    cursor: pointer;
    font-family: fantasy;
    
    
}

#plans .button .btn:hover{
 box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
    background:#efefef;
   


}


#plans .row{
    padding-bottom: 80px;
}






/*
#plans .name{
    padding-top: 40px;
    text-align: center;
    border-bottom: 5px solid black;
    font-size: 40px;
    font-weight: 1000px;
}

#plans .name h1{
     font-size: 50px;
    font-weight: bolder;
font-family: fantasy;
}


#plans img{
    transition: 0.4s;
    display: inline;
}


#plans .image-box1{
    padding-top: 80px;
padding-bottom:  80px;;
}

#plans h6{
    text-align: left;
    margin-top: -60px;
}

#plans img:hover{
    transform: scale(1.2)
     
}

#plans img:hover{
    box-shadow: 10px 10px 50px #333;
}

#plans ul li{
    text-align: left;
    list-style-type: none;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

#plans .btn{
    margin-left: -90px;
    transition: 0.1s;
    display: inline-block;
    
    
}

#plans .btn:hover{
  border: white;
   color:  #3f51b5;
    background-color: #fff;
}


.row{
    padding-bottom: 80px;
}
*/

/*--------------about----------------*/

#about .container h1{
   margin-top: -40px;
border-bottom: 5px solid #fff;
     font-size: 50px;
    font-weight: bolder;
font-family: fantasy;
  
    
}

#about .container .paragraph{
    padding-top: 60px;
    
}


#about{
    
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.1)),url(dawn2.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    text-align: center;
    background-attachment: fixed;
    padding: 100px;
    font-family: sans-serif;
    font-size: 20px;
}

#about .container p{
    padding-top: 30px;
    border: 1px solid white;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-left-width: 50px;
}


/*---------places--------*/

#place{
    background: #efefef;
}



#place.name1{
    padding-top: 50px;
}

#place .name1 h1{
    font-family: fantasy;
    font-size: 50px;
}



#place .nabeel1 .name1{
    padding-top: 40px;
    text-align: center;
    border-bottom: 5px solid black;
    font-size: 40px;
    font-weight: 1000px;
}

#place ..nabeel1 .name1 h1{
     font-size: 50px;
    font-weight: bolder;
font-family: fantasy;
}


#place .nabeel4{
    padding-top: 80px;
}



#place .nabeel4 img{
    transition: 0.4s;
    display: inline;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border: 1px solid #fff;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
}


#place .nabeel3 .nabeel{
    padding-top: 80px;
padding-bottom:  80px;;
}

#place h6{
    text-align: left;
    margin-top: 20px;
}

#place .nabeel4 img:hover{
    transform: scale(1.3);
   
}

#place .nabeel4 img:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
}

#place .nabeel2 ul li{
    text-align: left;
    list-style-type: none;
    text-decoration: none;
    border-bottom: 1px solid #555;
}

#place .button .btn{
    margin-left: -30px;
   font-size: 20px;
       background: #efefef;
    color: black;
   padding-left: 30px;
    padding-right: 30px;
    transition: 0.8s;
   box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
    cursor: pointer;
    font-family: fantasy;
    
    
}

#place .button .btn:hover{
 box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
    background:white;
    


}


#place .nabeel2{
    padding-bottom: 80px;
}

/*-------------------price------------------------*/


#price .container h1{
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
    
    font-family: fantasy;
    font-weight: 1000;
    border-bottom: 5px solid black;
}


#price .container .row{
    padding-top: 30px;
}

#price .container .row .col{
    border: 1px solid black;
    
}


#price .container .row .nabeel{
    border: none;
    border-bottom: 5px solid black;
    font-size: 25px;
    font-family: fantasy;
    
}


















/*----------------facts----------------*/


#facts {
    background: #fff;
}


#facts . name3{
    text-align: center;
    border-bottom: 5px solid black;
    padding-top: 40px;

}

#facts .name6{
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
    border-bottom: 5px solid black;
padding-top: 50px;
}

#facts .name5{
    border: none;
    text-align: center;
    font-family: fantasy;
    padding-top: 100px;
}


#facts p
{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

#facts a p{
    border: 1px solid black;
    border-left-width: 50px;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
}

/*----------------contact----------*/

#touch{
    background: #efefef;
    padding: 40px 0;
    color: black;
    
}

#touch h1{
    font-family: fantasy;
    font-size: 50px;
    font-weight: 1000;
}

::placeholder{
    color: #555;
    transition: 0.5s;
}


.follow{
    padding: 10px;
    margin: 15px;
    background: #fff;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.7);
}

#touch a .iconbtn{
    margin: 10px;
    font-weight: bold;
    transition: 0.8s;
    cursor: pointer;
}

/*#touch a .iconbtn:hover{
    transform: rotate(360);
}*/

#touch h1{
    text-align: center;
    border-bottom: 5px solid black;
    padding-bottom: 10px;

}

.iconbtn{
    position: relative;
 transition: 0s;
}


.iconbtn:hover{
   /* animation: ro 0.8s linear infinite;*/
  transform: scale(2.5);
}
/*
@keyframes ro{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}*/




/*---------------------------*/
#footer{
   background: #f8f9fa;
    width: 100%;
    box-shadow:  0 0 15px 5px rgba(0,0,0,0.4);
}

#footer .container-footer {

  padding-top: 10px;
    padding-bottom: 10px;
}



















































